nav{
    padding: 2px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu-iocn{
    width: 10px;
    margin-right: 25px;    
}

.nav-left .logo{
    width: 100px;
}

.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 5px 5px;
    border-radius: 20px;
}

.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img{
    width: 17px;
    margin-top: 5px;
}

.nav-right img{
width: 22px;
margin-right: 25px;
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}


@media (max-width:900px) {
    .menu-iocn{
        display: none;
    }

    .nav-right img{
        display: none;
    }

    .nav-right .user-icon{
        display: block;
        width: 30px;
    }

    .logo{
        width: 90px;
    }

    .nav-middle .search-box input{
        width: 100px;
    }
}